{% extends 'store/base.html' %}
{% load static %}
{% block title %}Food Store | Welcome!{% endblock %}
{% block maincontent %}
    <!-- Start slider -->
    <section id="aa-slider">
        <div class="aa-slider-area">
            <div id="sequence" class="seq">
                <div class="seq-screen">
                    <ul class="seq-canvas">
                        <!-- single slide item -->
                        <li>
                            <div class="seq-model">
                                <img data-seq
                                     src="{% static 'store/img/banner-1.jpg' %}"
                                     alt="filipino food banner"/>
                            </div>
                            <div class="seq-title">
                                <h2 data-seq>Welcome!</h2>
                                <a data-seq
                                   href="{% url 'store:products' %}"
                                   class="aa-shop-now-btn aa-secondary-btn">Browse Food Selection</a>
                            </div>
                        </li>
                        <!-- single slide item -->
                        <li>
                            <div class="seq-model">
                                <img data-seq
                                     src="{% static 'store/img/banner-2.png' %}"
                                     alt="Wristwatch slide img"/>
                            </div>
                            <div class="seq-title">
                                <h2 data-seq>Expect great food.</h2>
                                <p data-seq>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.
                                </p>
                                <a data-seq
                                   href="{% url 'store:products' %}"
                                   class="aa-shop-now-btn aa-secondary-btn">Browse</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- slider navigation btn -->
                <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                    <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                    <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
                </fieldset>
            </div>
        </div>
    </section>
    <!-- / slider -->
    <!-- Products section -->
    <section id="aa-product" style="margin-bottom: 2rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="aa-product-area">
                            <div class="aa-product-inner">
                                <!-- start prduct navigation -->
                                <ul class="nav nav-tabs aa-products-tab">
                                    <li>
                                        <a href="#top" data-toggle="tab">Top Products</a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="top">
                                        <ul class="aa-product-catg" style="display: flex; justify-content: center;">
                                            {% for product in top_product_list %}
                                                <!-- start single product item -->
                                                <li>
                                                    <figure>
                                                        <a class="aa-product-img" href="#">
                                                            {% if product.num_images > 0 %}
                                                                <img src="{{ product.productimage_set.all.0.image.url }}"
                                                                        alt="{{ product.title }} image" height="200px" width="200px">
                                                            {% else %}
                                                                <img src="{% static 'store/img/placeholder-200x200.jpg' %}"
                                                                        alt="placeholder image" height="200px" width="200px">
                                                            {% endif %}
                                                        </a>
                                                        <a class="aa-add-card-btn"href="{% url 'store:add_to_cart' product.stock_keeping_unit %}">
                                                            <span class="fa fa-shopping-cart"></span>
                                                            Add To Cart
                                                        </a>
                                                        <figcaption>
                                                            <h4 class="aa-product-title">
                                                                <a href="{% url 'store:add_to_cart' product.stock_keeping_unit %}">{{ product.title }}</a>
                                                            </h4>
                                                            <span class="aa-product-price">Php{{ product.unit_price }}</span>
                                                        </figcaption>
                                                    </figure>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <!-- / product category -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="aa-browse-btn" href="{% url 'store:products' %}">
                            Browse all Products
                            <span class="fa fa-long-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Products section -->
    <!-- banner section -->
    <section id="aa-banner" style="margin-bottom: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="aa-banner-area">
                            <a href="#">
                                <img src="{% static 'store/img/homepage-lower-banner.jpg' %}"
                                     alt="fashion banner img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Support section -->
    <section id="aa-support">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-support-area">
                        <!-- single support -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="aa-support-single">
                                <span class="fa fa-truck"></span>
                                <h4>FREE SHIPPING</h4>
                                <P>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.
                                </P>
                            </div>
                        </div>
                        <!-- single support -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="aa-support-single">
                                <span class="fa fa-clock-o"></span>
                                <h4>30 DAYS MONEY BACK</h4>
                                <P>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.
                                </P>
                            </div>
                        </div>
                        <!-- single support -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="aa-support-single">
                                <span class="fa fa-phone"></span>
                                <h4>SUPPORT 24/7</h4>
                                <P>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.
                                </P>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Support section -->
    <!-- Testimonial -->
    <section id="aa-testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-testimonial-area">
                        <ul class="aa-testimonial-slider">
                            <!-- single slide -->
                            <li>
                                <div class="aa-testimonial-single">
                                    <img class="aa-testimonial-img"
                                         src="{% static 'store/img/testimonial-img-2.jpg' %}"
                                         alt="testimonial img">
                                    <span class="fa fa-quote-left aa-testimonial-quote"></span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.
                                    </p>
                                    <div class="aa-testimonial-info">
                                        <p>
                                            Allison
                                        </p>
                                        <span>Designer</span>
                                        <a href="#">Dribble.com</a>
                                    </div>
                                </div>
                            </li>
                            <!-- single slide -->
                            <li>
                                <div class="aa-testimonial-single">
                                    <img class="aa-testimonial-img"
                                         src="{% static 'store/img/testimonial-img-1.jpg' %}"
                                         alt="testimonial img">
                                    <span class="fa fa-quote-left aa-testimonial-quote"></span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.
                                    </p>
                                    <div class="aa-testimonial-info">
                                        <p>
                                            KEVIN MEYER
                                        </p>
                                        <span>CEO</span>
                                        <a href="#">Alphabet</a>
                                    </div>
                                </div>
                            </li>
                            <!-- single slide -->
                            <li>
                                <div class="aa-testimonial-single">
                                    <img class="aa-testimonial-img"
                                         src="{% static 'store/img/testimonial-img-3.jpg' %}"
                                         alt="testimonial img">
                                    <span class="fa fa-quote-left aa-testimonial-quote"></span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.
                                    </p>
                                    <div class="aa-testimonial-info">
                                        <p>
                                            Luner
                                        </p>
                                        <span>COO</span>
                                        <a href="#">Kinatic Solution</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Testimonial -->
{% endblock %}
