{% extends 'store/base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}Thanks for ordering! | Food Store{% endblock %}
{% block maincontent %}
<!-- Message section -->
    <section id="aa-subscribe">
        <div class="container">
            <div class="row">   
                <div class="col-md-12">
                    <div class="aa-subscribe-area">
                        <h2>Successfully changed your password.</h2>
                        <p>Please login again.</p>
                        <a href="{% url 'store:index' %}" class="btn btn-primary">Back to homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Message section -->
{% endblock %}
